<launch>
    <group ns="bearnav2">
        
        <node pkg="bearnav2" type="distance/distance-ros-1" name="distance" respawn="true" />

        <node pkg="bearnav2" type="alignment-ros-1" name="aligner" respawn="true" />

        <node pkg="bearnav2" type="master/mapmaker" name="mapmaker" respawn="false" />

        <node pkg="bearnav2" type="master/repeater" name="repeater" respawn="false" />

    </group>
</launch>
