<launch>
    <group ns="bearnav2">
        
        <node pkg="bearnav2" type="distance-ros-1" name="distance" respawn="true" />

        <node pkg="bearnav2" type="alignment-ros-1" name="aligner" respawn="true" />

        <node pkg="bearnav2" type="mapmaker" name="mapmaker" respawn="false" />

        <node pkg="bearnav2" type="repeater" name="repeater" respawn="false" />

    </group>
</launch>
